.Notifications ul li {
    list-style-type: disc;
}

.Notifications NotificationItem {
    color: blue;
}

.Notifications ul li[data-notification-type="default"] {
    color: blue;
}

.Notifications ul li[data-notification-type="urgent"] {
    color: red;
}

.Notifications ul li:nth-last-child(1) {
    color: red;
    font-size: 18px;
}