name: Deploy Dashboard to GitHub Pages

on:
  push:
    branches:
      - main
    paths: 
      - 'react_intro/task_3/dashboard/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install --prefix react_intro/task_3/dashboard

      - name: Build project
        run: npm run build --prefix react_intro/task_3/dashboard

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./react_intro/task_3/dashboard/build